@model MVCFineArt.Models.Artist

@{
    ViewBag.Title = "ArtistDetails";
}

<h2>Artist Details</h2>
<script type="text/javascript" src=@Html.DisplayFor(model => model.Biography) ></script>

<h3>Details about @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
<fieldset>
    <legend>Artist</legend>
    <table>
    <tr>
    <td nowrap valign=top width=200>ArtistCode: @Html.DisplayFor(model => model.ArtistCode)<br />
    FirstName: @Html.DisplayFor(model => model.FirstName)<br />
    LastName: @Html.DisplayFor(model => model.LastName)<br />
    Medium: @Html.DisplayFor(model => model.Medium)
    </td>
    <td nowrap valign=top width=200><img src=@Html.DisplayFor(model => model.SampleImage) alt='Image' />
    </td>
    <td><script type="text/javascript">document.write(bio);</script>
    </td>    
    </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.ActionLink("Back to Artist List", "Index")
    </p>
} 
