@model MVCFineArt.Models.Artist

@{
    ViewBag.Title = "ArtistDetails";
}

<h2>Artist Details</h2>

<h3>Details about @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
<fieldset>
    <legend>Artist</legend>
    <table><tr><td>
    <div class="display-label">ArtistCode: @Html.DisplayFor(model => model.ArtistCode)</div>
    <div class="display-label">FirstName: @Html.DisplayFor(model => model.FirstName)</div>
    <div class="display-label">LastName: @Html.DisplayFor(model => model.LastName)</div>
    <div class="display-label">Medium: @Html.DisplayFor(model => model.Medium)</div>
    </td>
    <td>    
    <div class="display-label"><img src=@Html.DisplayFor(model => model.SampleImage) alt='Image' /></div>
    </td></tr></table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.ActionLink("Back to Artist List", "Index")
    </p>
}
